#roomPannel-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 5px;
}

#roomPannel-container button {
    height: 30px;
    margin: 0 auto;
    width: 35%;
}

#roomPannel-container input, button {
    height: 25px;
    margin: 0 auto;
}

#roomPannel-container input {
    width: 50%;
}

#roomPannel-container hr {
    margin-left: 0;
    margin-right: 0;
}
