{
  "rules": {
    "semi": ["warn", "always"],
    "indent": ["error", "tab"],
    "no-multi-spaces": ["warn", { "exceptions": {
      "VariableDeclarator": true,
      "ImportDeclaration": true,
      "Property": true
    }}],
    "no-tabs": 0
  },
  "extends": "@withdouble"
}
