{
  "rules": {
    "semi": ["warn", "always"],
    "indent": ["error", "tab"],
    "react/jsx-indent": ["error", "tab"],
    "react/jsx-indent-props": ["error", "tab"],
    "jsx-quotes": ["warn", "prefer-double"],
    "babel/quotes": 0,
    "no-multi-spaces": ["warn", { "exceptions": {
      "VariableDeclarator": true,
      "ImportDeclaration": true,
      "Property": true
    }}],
    "no-tabs": 0
  },
  "extends": "@withdouble"
}
