#signup-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 5px;
}

#signup-container form {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 5px;
}

#signup-container form input, button {
    height: 25px;
    margin: 0 auto;
}

#signup-container form form input {
    width: 50%;
}

#signup-container form button {
    width: 25%;
}
