#signup-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
}

#signup-container input, button {
    height: 25px;
    margin: 0 auto;
}

#signup-container input {
    width: 50%;
}

#signup-container button {
    width: 25%;
}
