body {
    background-color: #EEF1EF;
    overflow: hidden;
}

#grid-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 10px;
}


#container-default {
    padding-top: 20px;
    border: 3px solid #A9B4C2;
    border-radius: 15px;
    /* max-height: 90%; */
    overflow: hidden;
}


footer {
    text-align: center;
    background-color: rgb(179, 190, 212);
    border-radius: 0 0 10px 10px;
    height: 1.3em;
    margin-top: 20px
}



/* global stuff */

.title {
    font-size: 1.7em;
    text-align: center;
    color: #1C2321;
}

.info {
    margin: 0 20px;
    text-align: center;
}

.err {
    color: red;
    text-align: center;
}

form {
    display: default;
}

button {
    text-align: center;
    border-radius: 5px;
    background-color: #7D98A1;
    margin: 0 20px;
    border: 0;
}
button:focus {
  outline: none;
}
button:hover {
    background-color: #96b8c4;
}
button:active {
    background-color: #566d75;
}


input {
    border-radius: 5px;
    margin: 0 20px;
}
input:focus {
    outline: none;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

